body{
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f1f5f9;
}

.menu{
  position:relative;
}

ul{
  list-style:none;
  padding:0;
  margin:0;
  background:white;
  position:absolute;
  top:40px;
  width:120px;
  display:none;
  border-radius:6px;
}

li{
  padding:10px;
  cursor:pointer;
}

li:hover{
  background:#e5e7eb;
}
